.Frame_1 {
	transform-box: fill-box;
	transform-origin: 50% 50%
}
.rocket {
	animation: 1s linear 0s 1 normal forwards running rocket;
	transform-box: fill-box;
	transform-origin: 50% 50%
}
@keyframes rocket {
	0% {
		transform: translateY(0px);
		opacity: 0;
	}
	100% {
		transform: translateY(-240px);
		opacity: 1;
	}
}
.inner_moon {
	animation: 1s linear 0.3s 1 normal forwards running inner_moon;
	transform-box: fill-box;
	transform-origin: 50% 50%
}
@keyframes inner_moon {
	30% {
		transform: translateX(0px);
		width: 900px;
		height: 900px;
	}
	100% {
		transform: translateX(-50px);
		width: 806.27px;
		height: 840.46px;
	}
}
.Ellipse_12 {
	animation: 1s linear 0s 1 normal forwards running Ellipse_12;
	transform-box: fill-box;
	transform-origin: 50% 50%
}
@keyframes Ellipse_12 {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(200deg);
	}
}
.Rectangle_6 {
	animation: 1s linear 0.69s 1 normal forwards running Rectangle_6;
	transform-box: fill-box;
	transform-origin: 50% 50%
}
@keyframes Rectangle_6 {
	20% {
		width: 765px;
		transform: translateX(0px);
	}
	69% {
		height: 188.19px;
		transform: translateY(0px);
	}
	70% {
		width: 0.1px;
		transform: translateX(-415px) translateY(-340px);
		height: 0.1px;
	}
}
.Ellipse_13 {
	animation: 1s linear 0.7s 1 normal forwards running Ellipse_13;
	transform-box: fill-box;
	transform-origin: 50% 50%
}
@keyframes Ellipse_13 {
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}