html {
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15pt;
    font-weight: 100;
    scroll-behavior: smooth;
    display: block;
}

body {
    margin: 0;
    background-color: rgb(6, 14, 26);
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    cursor: pointer;
}

b {
    font-weight: 500;
}

h1 {
    text-align: center;
    font-size: 40pt;
    margin: 0 0 10px 0;
}
.title {
    margin: 15px 0 20px 0;
}

table {
    border-collapse: collapse;
    margin: auto;
    border-radius: 30px;
}
  
td, th {
    border: 2px solid white;
    text-align: left;
    padding: 10px;
}

tr:last-child {
    background-color: rgba(255, 255, 255, 0.1);
    border-collapse: separate;
}

button {
    font-weight: 100;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 25px;
}
.card {
    margin: 25px;
    border-radius: 30px;
    width: 350px;
    font-size: 10pt;
    transition-duration: 0.2s;
}
.card:hover {
    scale: 1.05;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* ---------------------------------------*/
/* ---------------- Main -----------------*/
/* ---------------------------------------*/

/* ---------------- Cover ----------------*/

.cover-img {
    align-items: center;
    border-radius: 0 0 45px 45px;
    height: 100vh;
    object-fit: cover;
    filter: brightness(80%);
    width: 100%;
}
#small-cover-img {
    margin-bottom: 12.5px;
    height: 400px;
    filter: brightness(60%);
}
.text-main-page {
    position: absolute;
    margin: calc(-123vh/2) 0 0 -10px;
    width: 100%;

    text-align: right;
    font-size: 30pt;

    z-index: 1;
}
.small-text-main-page {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 30pt;
    margin-top: -210px;
    z-index: 1;
}
.small-main-page {
    margin: calc(-118vh/2) 0 0 -10px;
    display: none;
}

/* ---------------- Menu Bar ----------------*/

.blur-menu-bar {
    position: fixed;
    margin: 10px 10px;
    border-radius: 100px;
    width: calc(100% - 20px);
    height: 80px;
    background-color: rgb(6, 14, 26, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
}
nav {
    position: fixed;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    z-index: 2;
    width: calc(100% - 50px);
    margin: 10px 10px;
}
#star-corner-logo {
    height: 45px;
    transition-duration: 0.2s;
}

.right-menu-bar {
    display: flex;
    flex-direction: row;
    font-size: 17pt;
}
.submenu {
    margin: 4px 7px;
    padding: 8px 8px;
    height: 27px;
    transition-duration: 0.2s;
}
.submenu:hover,
.dropdown-title:hover,
#star-corner-logo:hover {
    opacity: 0.7;
}

/* ---------------- Join Us ----------------*/

.join-us {
    margin: 0 7px;
    padding: 10px 15px;
    border: solid 2px white;
    border-radius: 100px;
    height: 27px;
    transition-duration: 0.2s;
}
.join-us:hover {
    color: black;
    background-color: white;
}

/* ---------------- Dropdown ----------------*/

@keyframes drop-unfade {
    0% {opacity: 0; margin-top: 22px;}
    100% {opacity: 1; margin-top: 27px;}
}
@keyframes drop-fade {
    0% {opacity: 1; margin-top: 27px; display: block;}
    100% {opacity: 0; margin-top: 22px;}
}
  
.dropdown { /* same as .submenu but for some reason blur only works if it's a seperate class */
    display: flex;
    flex-direction: column;
    margin: 4px 7px;
}
.dropdown-title {
    padding: 8px 8px;
    z-index: 2;
    transition-duration: 0.2s;
}

.dropdown-content {
    display: none;
    margin-top: 22px;
    border-radius: 20px;
    background-color: rgb(6, 14, 26, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
}
.dropdown-content a {
    display: block;
    padding: 12px 16px;
    transition-duration: 0.2s;
}
.dropdown-content a:hover {
    color: black;
    background-color: white;
}
#top-drop {
    border-radius: 20px 20px 0 0;
}
#bottom-drop {
    border-radius: 0 0 20px 20px ;
}

.dropdown:hover .dropdown-content {
    animation: drop-unfade 0.2s;
    display: block;
    margin-top: 27px;
    opacity: 1;
}
.dropdown:not(:hover) .dropdown-content {
    animation: drop-fade 0.2s;
}

/* ---------------- Arrow Down Button ----------------*/

.arrow-button {
    position: absolute;
    margin: -100px 0 0 calc(50% - 25px);
    z-index: 1;
}

#arrow-down {
    position: relative;
    margin-left: calc(50% - 25px);
    width: 50px;
    transition-duration: 0.2s;
}
#arrow-down:hover {
    scale: 1.1;
}

/* ---------------- Who We Are Text ----------------*/

#sub-text {
    text-align: center;
    font-size: 25pt;
    margin-bottom: 20px;
}

.paragraph {
    padding: 30px 200px 40px 200px;
    border-radius: 45px 45px 0 0;
}

/* ---------------- Team Picture ----------------*/

#team-photo {
    position:absolute;
    margin-top: -504px;
    border-radius: 45px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 30%;
    z-index: -1;
}
#team-photo-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#team-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    padding: 15px 0 25px 0;
    border-radius: 35px;
    width: 260px;
    transition-duration: 0.2s;
}
#team-num {
    font-size: 80pt;
}

@media (max-width: 1080px) {
    #team-sub {
        margin: 0 10px;
    }
}

/* ---------------- Ambitions ----------------*/

.ambitions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 70px;
}
#ambitions-icon {
    margin-bottom: 10px;
    height: 150px;
}
#ambitions-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 20px 40px 20px;
    padding: 10px;
    border-radius: 30px;
    width: 260px;
    transition-duration: 0.2s;
}
#ambitions-about {
    font-size: 15pt;
    opacity: 60%;
}

#ambitions-sub:hover,
#team-sub:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* ---------------- Interesting ----------------*/

.interesting {
    padding-bottom: 60px;
    background-color: rgb(33, 39, 48);
}

/* ------------------------------------------*/
/* ---------------- Projects ----------------*/
/* ------------------------------------------*/

#project-card {
    height: 525px;
    background-color: transparent;
}

.project-pic {
    border-radius: 30px;
    width: 350px;
    height: 525px;
    z-index: 0;
    transition-duration: 0.2s;
}
#project-card:hover .project-pic {
    opacity: 0.1;
}

.project-name {
    font-weight: bolder;
    text-align: center;
    position: absolute;
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    width: 310px;
    font-size: 20pt;
    background-color: rgb(6, 14, 26, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}
#project-about {
    font-weight: bolder;
    text-align: center;
    position: absolute;
    margin-top: 80px;
    padding: 10px;
    width: 330px;
    height: 400px;
    font-size: 11pt;
    opacity: 0;
    z-index: 1;
    transition-duration: 0.2s;
}
#project-more {
    margin-top: 461.5px;
    opacity: 0;
    transition-duration: 0.2s;
}

#project-card:hover #project-about,
#project-card:hover #project-more {
    opacity: 1;
}

/* ---------------------------------------*/
/* --------------- Subteams --------------*/
/* ---------------------------------------*/

#subteam-card {
    background-color: rgb(33, 39, 48);
    display: flex;
    height: 200px;
    width: 900px;
    margin: 15px 0;
}
.subteam-img {
    object-fit: cover;
    width: 200px;
    height: 100%;
    border-radius: 30px;
}
.subteam-description {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    width: 800px;
}
#sub-name {
    font-weight: bolder;
    margin: 5px 0;
    font-size: 14pt;
}
#sub-lead {
    margin: 5px 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11pt;
}
#sub-des {
    margin: 5px 0;
}

/* ---------------------------------------*/
/* ---------------- Leads ----------------*/
/* ---------------------------------------*/

#leads-card {
    height: 758px;
    background-color: rgb(33, 39, 48);
}
.profil-pic {
    border-radius: 30px;
    width: 350px;
}
.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 363px;
}
#name {
    font-weight: bolder;
    margin: 7px 0;
    font-size: 14pt;
}
#position-major {
    margin: 7px 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11pt;
}
#bio {
    margin: 15px 0;
}
.contacts {
    height: 30px;
}
#contacts-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    transition-duration: 0.2s;
}
#contacts-icon:hover {
    opacity: 0.7;
}

/* ------------------------------------------*/
/* ---------------- Sponsors ----------------*/
/* ------------------------------------------*/

.packet-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.packet {
    padding: 10px 15px;
    margin: 20px 0 0 0;
    border: solid 2px white;
    border-radius: 100px;
    width: 200px;
    transition-duration: 0.2s;
}
.packet:hover {
    color: black;
    background-color: white;
}

.sponsor-logo {
    border-radius: 30px;
    width: 250px;
    background-color: white;
}
#sponsor-card {
    width: 250px;
    height: 250px;
}
.sponsor-packet {
    text-align: center;
    margin: -57.5px 0 20px 0;
    background-color: rgb(33, 39, 48);
    border-radius: 0 0 45px 45px;
    padding: 70px 300px 10px 300px;
}

/* ------------------------------------------*/
/* ---------------- Outreach ----------------*/
/* ------------------------------------------*/

.the-problem {
    padding-bottom: 50px;
    background-color: rgb(21, 26, 37);
}
.the-solution {
    margin-top: -45px;
    padding-bottom: 50px;
    background-color: rgb(33, 39, 48);
}

/* -----------------------------------------*/
/* ---------------- Join Us ----------------*/
/* -----------------------------------------*/

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#loc {
    text-align: center;
    border-radius: 30px;
    width: 300px;
    height: 400px;
    font-size: 15pt;
    background-color: rgb(33, 39, 48);
}
.loc-img {
    margin-bottom: 7px;
    border-radius: 30px;
    width: 300px;
    filter: brightness(90%);
    transition-duration: 0.2s;
}
.loc-map {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px;
    filter: brightness(90%);
    opacity: 0;
    transition-duration: 0.2s;
}
#loc:hover .loc-img {opacity: 0}
#loc:hover .loc-map {opacity: 1}

.questions {
    margin: 20px auto;
    width: 700px;
}
.accordion {
    margin-top: 5px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(33, 39, 48);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question-content {
    max-height: 0;
    overflow: hidden;
    transition-duration: 0.2s;
}
#question-answer {
    padding: 30px;
    background-color: rgb(33, 39, 48);
    border-radius: 5px;
    margin-top: 5px;
    line-height: 1.3;
}
.top-question {border-radius: 30px 30px 5px 5px;}
.bottom-question {border-radius: 5px 5px 30px 30px;}

/* ----------------------------------------*/
/* ---------------- Footer ----------------*/
/* ----------------------------------------*/

footer {
    padding: 50px 50px 30px 50px;
    border-radius: 45px 45px 0 0;
    background-color: rgb(199, 155, 18);
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-social {
    text-align: center;
    width: 456px;
    font-size: 10pt;
}
#social {
    width: 50px;
    transition-duration: 0.2s;
}
#social:hover {
    opacity: 0.7;
}

#footer-contact-us {
    text-align: center;
    width: 456px;
}
.contact-us {
    padding: 10px 15px;
    border: solid 2px white;
    border-radius: 100px;
    transition-duration: 0.2s;
}
.contact-us:hover {
    color: black;
    background-color: white;
}

#footer-join-today {
    width: 456px;
    font-size: 10pt;
}

.ocf {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 10pt;
}

/* ----------------------------------------*/
/* ------------- Burger Menu ------------- */
/* ----------------------------------------*/

@keyframes menu-drop-unfade {
    0% {opacity: 0; margin: 65px 21px;}
    100% {opacity: 1; margin: 75px 21px;}
}
@keyframes menu-drop-fade {
    0% {opacity: 1; margin: 75px 21px; display: flex;}
    100% {opacity: 0; margin: 65px 21px;}
}

#menu-checkbox {
    display: none;
}
.menu-button {
    display: none;
    margin: 4px 10px;
    width: 43px;
    height: 43px;
    z-index: 3;
    cursor: pointer;
}
.menu-button span,
.menu-button span::before,
.menu-button span::after {
    position: absolute;
    border-radius: 10px;
    width: 30px;
    height: 4px;
    background-color: white;
    transition-duration: 0.2s;
}
.menu-button span {top: 27px; right: 32px; content: '';}
.menu-button span::before {top: 11px; content: '';}
.menu-button span::after {top: 22px; content: '';}

#menu-checkbox:checked + .menu-button > span {top: 38px; transform: rotate(45deg);}
#menu-checkbox:checked + .menu-button > span::before {top: 0px; transform: rotate(0deg);}
#menu-checkbox:checked + .menu-button > span::after {top: 0; transform: rotate(90deg);}

#menu-checkbox:checked ~ .menu-content {
    animation: menu-drop-unfade 0.2s;
    display: flex;
    margin: 75px 21px;
    opacity: 1;
}
#menu-checkbox:not(:checked) ~ .menu-content {
    animation: menu-drop-fade 0.2s;
}

.menu-content {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    margin: 65px 21px;
    border-radius: 25px;
    width: calc(100% - 95px);
    background-color: rgb(6, 14, 26, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 2;
    transition-duration: 0.2s;
}
.menu-item {
    display: block;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    transition-duration: 0.2s;
}
.menu-item:hover {
    color: black;
    background-color: white;
}

/* ----------------------------------------*/
/* ---------------- @Media --------------- */
/* ----------------------------------------*/

@media (max-width: 950px) { /* For iPads & Phones */
    .right-menu-bar {display: none;}
    .wide-main-page {display: none;}
    .small-main-page {display: block;}
    .menu-button {display: block;}
    .cover-img {height: calc(100vh - 50px);}
}

@media (max-width: 559px) { /* For Phones */
    #team-photo {margin-top: -695px; height: 700px;}
    #team-sub {margin-top: 10px}
    #team-photo-text {height: 700px;}
}

@media (max-width: 950px) and (min-width: 505px) { /* For iPads */
    .paragraph {padding: 40px 100px;}
    .sponsor-packet {padding: 70px 100px 10px 100px;}
    .questions {width: 500px;}
    #subteam-card {width: 500px; height: 350px};
}
@media (max-width: 504px) { /* For Phones */
    h1 {font-size: 30pt;}
    .paragraph {padding: 40px 50px;}
    .sponsor-packet {padding: 70px 50px 10px 50px;}
    .questions {width: 300px;}
    .subteam-img {height: 300px; width: 300px;}
    #subteam-card {flex-direction: column; width: 300px; height: 100%; margin: 20px 20px;}
    .subteam-description {width: 240px;}
}

@media (max-width: 750px) {
    .footer-content {flex-direction: column; justify-content: center;}
    #footer-social {margin-bottom: 40px; width: 300px;}
    #footer-contact-us {margin-bottom: 40px; width: 300px;}
    #footer-join-today {text-align: center; width: 300px;}
    .ocf {flex-direction: column; text-align: center;}
}