html {
    display: block;
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15pt;
    color: white;
}

body {
    margin: 0;
    background-color: rgb(6, 14, 26);
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin: auto;
    border-radius: 30px;
}
  
td, th {
    border: 2px solid white;
    text-align: left;
    padding: 10px;
}

tr:last-child {
    background-color: rgba(255, 255, 255, 0.1);
    border-collapse: separate;
}

@keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0.7;}
}
@keyframes unfade {
    0% {opacity: 0.7;}
    100% {opacity: 1;}
}

/* ---------------- Cover ----------------*/

.cover-img {
    z-index: -1;
    width: 100%;
    height: 825px;
    object-fit: cover;
    opacity: 80%;
    align-items: center;
    border-radius: 0 0 45px 45px;
}
#small-cover-img {
    height: 400px;
    opacity: 50%;
}
.text-main-page {
    position: absolute;
    margin-top: -510px;
    margin-left: -10px;
    width: 100%;

    text-align: right;
    font-size: 30pt;

    z-index: 1;
}
.small-text-main-page {
    position: absolute;
    font-size: 30pt;
    margin-top: -210px;
    z-index: 1;
}

/* ---------------- Menu Bar ----------------*/

#menu-bar {
    margin-left: 8px;
    margin-top: 10px;
    align-items: center;
    
    padding: 15px 17px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: calc(100% - 50px);
    
    backdrop-filter: blur(10px);
    background-color: rgb(6, 14, 26, 0.1);

    z-index: 2;
}

#star-corner-logo {
    width: 160px;
}

#right-menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 17pt;
}
#subteams, #staff, #sponsors, #outreach, #contact-us {
    margin: auto;
    padding: 10px 15px 10px 15px;
}
#outreach {
    margin-right: 10px;
}

#star-corner-logo:hover, #subteams:hover, #staff:hover, #sponsors:hover, #outreach:hover {
    animation: fade 0.2s;
    opacity: 0.7;
}
#star-corner-logo:not(:hover), #subteams:not(:hover), #staff:not(:hover), #sponsors:not(:hover), #outreach:not(:hover) {
    animation: unfade 0.2s;
    opacity: 1;
}

/* ---------------- Dropdown ----------------*/

span.arrow-drop-down {
    font-size: 20pt;
}

#dropdown {
    z-index: 2;
    position: fixed;

    right: 0;
    margin-top: 18px;
    margin-right: 675px;

    font-size: 17pt;
}
#dropdown-title {
    padding: 15px;
    width: 125px;
}
#dropdown-title:hover {
    animation: fade 0.2s;
    opacity: 0.7;
}
#dropdown-title:not(:hover) {
    animation: unfade 0.2s ease-out;
}

/* ---------------- Dropdown Content ----------------*/

@keyframes drop-unfade {
    0% {opacity: 0; margin-top: 17px;}
    100% {opacity: 1; margin-top: 22px;}
}
@keyframes drop-fade {
    0% {opacity: 1; margin-top: 22px; display: flex;}
    100% {opacity: 0; margin-top: 17px;}
}

#dropdown-content {
    flex-direction: column;
    margin-top: 22px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgb(6, 14, 26, 0.1);
}
#ssep2-drop { /* Upper border radius */
    border-radius: 20px 20px 0 0;
}
#alula-drop { /* Lower border radius */
    border-radius: 0 0 20px 20px;
}

#dropdown:hover #dropdown-content {
    animation: drop-unfade 0.2s;
    display: flex;
}
#dropdown:not(:hover) #dropdown-content {
    animation: drop-fade 0.2s;
    display: none;
}
#dropdown-content a {
    padding: 12px 16px;
}
#dropdown-content a:hover {
    background-color: white;
    color: black;
}

/* ---------------- Contact Us Button ----------------*/

@keyframes contact-us-fade {
    0% {color: white;}
    100% {color: black; background-color: white;}
}
@keyframes contact-us-unfade {
    0% {color: black; background-color: white;}
    100% {color: white;}
}

#contact-us {
    border: solid 2px white;
    border-radius: 100px;
}
#contact-us:hover {
    animation: contact-us-fade 0.2s;
    color: black;
    background-color: white;
}
#contact-us:not(:hover) {
    animation: contact-us-unfade 0.2s;
}

/* ---------------- Arrow Down Button ----------------*/

@keyframes arrow-shift-down {
    0% {margin-top: -90px;}
    100% {margin-top: -80px;}
}
@keyframes arrow-shift-up {
    0% {margin-top: -80px;}
    100% {margin-top: -90px;}
}
#arrow-button {
    height: 50px;
    width: 50px;
}

#arrow-button {
    position: absolute;
    z-index: 1;
    margin-top: -90px;
    margin-left: calc(50% - 25px);
}
#arrow-down {
    width: 50px;
}

#arrow-button:hover a {
    animation: arrow-shift-down 0.3s ease-out;
    margin-top: 780px;
}
#arrow-button:not(:hover) a {
    animation: arrow-shift-up 0.3s ease-out;
}

/* ---------------- Who We Are Text ----------------*/

#strong-text {
    font-size: 40pt;
    text-align: center;
}

.paragraph {
    padding: 40px 200px 40px 200px;
    border-radius: 45px 45px 0 0;
}

/* ---------------- Team Picture ----------------*/

#team-photo {
    position:absolute;
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 30%;
    align-items: center;
    border-radius: 45px;
    margin-top: -504px;
    z-index: -1;
}
#team-photo-text {
    height: 500px;
    align-items: center;
    padding: 0 120px;

    display: flex;
    justify-content: space-around;
}
#team-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 260px;
}
#team-num {
    font-size: 80pt;
}

/* ---------------- Ambitions ----------------*/

@keyframes ambitions-highlight {
    0% {background-color: rgba(0, 0, 0, 0); scale: 1;}
    100% {background-color: rgb(33, 39, 48); scale: 1.05;}
}
@keyframes ambitions-dimmed {
    0% {background-color: rgb(33, 39, 48); scale: 1.05}
    100% {background-color: rgb(0, 0, 0, 0); scale: 1;}
}

span.ambitions-icon {
    font-size: 100pt;
    margin: 0 60px;
    height: 150px;
    color: rgb(199, 155, 18);
}
.ambitions-icon:hover {
    cursor: default;
}

#ambitions {
    align-items: center;
    margin: 0 70px;
    display: flex;
    justify-content: space-around;
}

#ambitions-sub {
    align-items: center;
    width: 260px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#ambitions-about {
    font-size: 15pt;
    opacity: 60%;
}

#ambitions-sub:hover {
    animation: ambitions-highlight 0.2s;
    background-color: rgb(33, 39, 48);
    scale: 1.05;
}
#ambitions-sub:not(:hover) {
    animation: ambitions-dimmed 0.2s;
}

/* ---------------- Interesting ----------------*/

#interesting {
    background-color: rgb(33, 39, 48);
    padding-bottom: 60px;
    border-radius: 45px 45px 0 0;
}

/* ---------------- Footer ----------------*/

footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: rgb(199, 155, 18);
    border-radius: 45px 45px 0 0;
}
#social {
    width: 50px;
}
#social:hover {
    animation: fade 0.2s;
    opacity: 0.7;
}
#social:not(:hover) {
    animation: unfade 0.2s;
}

/* ---------------------------------------*/
/* ---------------- Leads ----------------*/
/* ---------------------------------------*/

@keyframes zoom {
    0% {scale: 1}
    100% {scale: 1.05}
}
@keyframes unzoom {
    0% {scale: 1.05}
    100% {scale: 1}
}

#lead-title {
    font-size: 40pt;
    text-align: center;
    margin: 25px 0;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 25px;
}
.card {
    background-color: rgb(33, 39, 48);
    width: 350px;
    height: 758px;
    border-radius: 30px;
    margin: 25px;
}
.card:hover {
    animation: zoom 0.2s;
    scale: 1.05;
}
.card:not(hover) {
    animation: unzoom 0.2s;
}

#profil-pic {
    width: 350px;
    border-radius: 30px;
}
#card-text {
    padding: 20px;
    font-size: 10pt;
}
#name {
    font-size: 14pt;
    font-weight: bolder;
    margin: 7px 0;
}
#position, #major {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11pt;
    margin: 7px 0;
}
.long-major {
    margin-top: -18.5px;
}
#bio {
    margin: 15px 0;
    height: 221px;
}
#contacts {
    height: 30px;
}
#contacts-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
#contacts-icon:hover {
    animation: fade 0.2s;
    opacity: 0.7;
}
#contacts-icon:not(:hover) {
    animation: unfade 0.2s ease-out;
}

/* ------------------------------------------*/
/* ---------------- Outreach ----------------*/
/* ------------------------------------------*/

.the-problem {
    background-color: rgb(21, 26, 37);
    padding-bottom: 90px;
}
.the-solution {
    background-color: rgb(33, 39, 48);
    margin-top: -45px;
    padding-bottom: 90px;
}